.ab
{
    text-align: center;
    background-color: rgba(130, 86, 171,0.5);
    color: whitesmoke;
}
body
{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ac
{
    color: white;
}
.ad
{
    background-color: rgba(16, 96, 166,0.5);
    border: dashed;
    border-radius: 5px;
    border-color: goldenrod;
    width: 20%;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}